.git
.github
.env
.env.*
!.env.example
vendor
node_modules
build
coverage
storage/logs/*
*.key
*.pem
Dockerfile.test
docs
tests
compatibility
deploy
README.md
CHANGELOG.md
package.json
package-lock.json
